:root {
  --percent: 33%;
}

@import "https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css";
@font-face {
  font-family: LINESeedKR-Bd;
  src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2)
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: LINESeedKR-Rg;
  src: url(https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR-Rg.eot);
  src: url(https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR-Rg.woff)
    format("woff");
  font-style: normal;
}

@font-face {
  font-family: LINESeedKR-Th;
  src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Th.woff2)
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: Pretendard Variable, Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI,
    Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, sans-serif;
}

h1,
h2 {
  font-family: LINESeedKR-Rg;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

#login > button {
  width: 100%;
  box-sizing: content-box;
  font-size: 1.5rem;
  border-radius: 8px;
  outline: none;
  border: none;
  padding: 1rem 0;
  cursor: pointer;
}

#datas > div > *:not(:first-child) {
  margin-left: 16px;
}

#cover {
  width: 100px;
  height: 100px;
  border-radius: 8px;
}

#musicdataContainer {
  background: black;
  color: white;
  width: 400px;
  height: 400px;
  margin-left: 0px !important;
  box-sizing: border-box;
}

#blur {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(9px);
  box-sizing: border-box;
}

#musicdata {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  left: 50%;
  width: 365px;
  transform: translate(-50%, calc(-100% - 1.4rem));
  column-gap: 0.7rem;
}

#title {
  margin: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-align: start;
  font-size: 1.25rem;
}

#musictextinfo {
  text-align: start;
  margin-top: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

#artistContainer {
  color: #f2f2f2e3;
  font-size: 0.75em;
  width: 90%;
  display: flex;
  flex-direction: row;
  column-gap: 4px;
  margin-bottom: 0.7rem;
}

#artist {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  display: block;
}
#musicController {
  margin-top: 16px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#openwin {
  padding: 1rem;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #1ed760;
  margin-top: 0.75rem;
  width: 408px;
  margin-left: 0px !important;
  box-sizing: border-box;
  font-size: 1.2em;
  cursor: pointer;
}

#resign {
  padding: 1rem;
  border: none;
  outline: none;
  background-color: #1ed760;
  transition: all 0.2s;
  width: 408px;
  margin-left: 0px !important;
  box-sizing: border-box;
  font-size: 1.2em;
  cursor: pointer;
  position: fixed;
  left: 50%;
  top: -100%;
  transform: translateX(-50%);
  border-radius: 0px 0px 8px 8px;
  background-color: #1ed75f5a;
}
